body {
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
  width: 1280px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.nav {
  background-color: lightcyan;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  font-size: 18px;
  padding: 15px;
  list-style: none;
  list-style-type: none;
}

.files_table {
  width: 100%;
  border-style: none;
  border:none;
  border-collapse: collapse;
}