body {
  display: flex;
  flex-direction: column; /* Элементы идут по колонке */
  align-items: center; /* Центрирует по горизонтали */
  justify-content: flex-start; /* Выравнивает по верху */
  min-height: 100vh; /* Занимает всю высоту viewport */
  margin: 0;
}

#root {
  /* Стили контейнера */
  width: 80%;
  padding: 20px;
  text-align: center; /* Центрирование текста внутри контейнера */
}
/*  меню */
.nav {
  position: relative;
  background-color: #007bff;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav a {
  color: white;
}

.nav li {
  display: inline-block;
  font-size: 18px;
  padding: 15px;
  list-style: none;
  list-style-type: none;
}
/* таблиц отображения файлов. */
.files_table {
  width: 100%;
  border-style: none;
  border:none;
  border-collapse: collapse;
}

/* модальное окно редактирования. */

.modal-overlay {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.modal-content {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content input, .modal-content textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}


/* формы регистрации и логина. */

/* Общий контейнер для форм */
.registration_form_container, .login_form_container {
  max-width: 400px; /* Немного шире для длинных имен */
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  font-family: sans-serif;
}

.registration_form_container h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Сама форма как колонка */
.login_form {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Равномерный отступ между полями */
}

.form_group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_group label {
  font-size: 18px;
  font-weight: 600;
  color: #555;
}

.login_form input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box; 
  font-size: 15px;
  transition: border-color 0.2s;
}

.login_form input:focus {
  border-color: #007bff;
  outline: none;
}

/* Кнопка на всю ширину */
.login_form_submit {
  width: 100%;
  padding: 14px;
  background-color: #007bff; /* Зеленый цвет для регистрации */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.2s;
}

.login_form_submit:hover {
  background-color:#007bff;
}